<!DOCTYPE html>
<html ng-app="otnalApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Тестовое задание: Отличные наличные</title>
    <script src="../../node_modules/angular/angular.js"></script>
    <script src="../../entry.js"></script>
    <link rel="stylesheet" type="text/css" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body ng-controller="OtnalController">
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>
